.Order {
    width: 80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    cursor: pointer;
}

.Order span {
    float: right;
    margin: 10px auto;
}

.Order:hover, 
.Order:focus {
    background-color: rgb(219, 250, 248);
}

/* @media (min-width: 500px) and (min-height: 400px) {
    .Order span {
        float: right;
    }
} */

